@{
  Layout = "_Layout";
}

@using Dealerships.Models
@model Dealerships.Models.Makes

<h2>Manufacturer -- AKA Make -- Details</h2>
<hr />
<h3>@Html.DisplayNameFor(model => model.Name): @Html.DisplayFor(model => model.Name)<h3>

    @if (@Model.CarModels.Count == 0)
    {
      <h3>No models in this make have been added yet!</h3>
    }

      <ul>
        @foreach (CarModels carModels in Model.CarModels)
        {
          <li>@Html.ActionLink($"{carModels.Name}", "Details", "CarModels", new { id = carModels.CarModelId })</li>
        }
      </ul>

    <p>@Html.ActionLink("Edit Makes", "Edit", new { id = Model.MakeId })</p>
    <p>@Html.ActionLink("Delete Make", "Delete", new { id = Model.MakeId })</p>
    <p>@Html.ActionLink("Back to list", "Index")</p>

    
  